Clase_profesor/Capitulos/node_modules
Clase_profesor/Capitulos/src/04_indecision-app/node_modules
Clase_profesor/Capitulos/src/07_pokemon-game/node_modules
Clase_profesor/Capitulos/src/09_vue-spa/node_modules
Clase_profesor/Capitulos/src/11_projects-app/node_modules
Clase_profesor/Capitulos/src/04_indecision-app/node_modules
Clase_profesor/Capitulos/src/14_admin-shop/node_modules
Clase_profesor/Capitulos/src/14_backend-teslo-shop/node_modules
Clase_profesor/Capitulos/src/14_backend-teslo-shop/custom_postgres_14_3_backup.tar
Clase_profesor/Capitulos/src/14_backend-teslo-shop/postgres_14_3_backup.tar
Clase_profesor/Capitulos/src/14_backend-teslo-shop/teslodb_backup.tar
TesloDB_240909.tar
formacion_vue_udemy_2407-inicio14.zip
nest-teslo-shop-complete-backend.zip
vue-teslo-shop-fin-seccion-14
