<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo en Vue</title>
</head>
<body>

<div id="myApp">
    <h1>Batman quotes</h1>
    <button v-on:click  =   "toggleAuthor">             Toggle Author 01 </button> <!-- v-on extendido -->
    <button @click      =   "toggleAuthor">             Toggle Author 02 </button> <!-- v-on abreviado -->
    <button @click      =   "showAuthor = !showAuthor"> Toggle Author 03 </button>
    <hr>
    
    <ul>
        <!-- Desestructuración -->
        <li v-for="({ quote, author }, index ) in quotes">
            <span>{{ index + 1 }} - {{ quote }}</span>

            <blockquote v-if=       "showAuthor">{{ author }}</blockquote> <!-- Elimina el componente -->
            <blockquote v-show=     "showAuthor">{{ author }}</blockquote> <!-- Simplemente deshabilita -->

        </li>
    </ul>
</div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app2.js"></script>
</body>
</html>